<a href="https://colab.research.google.com/github/viriditass/Awesome-Korean-NLP-Papers/blob/master/Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
cd /content/drive/MyDrive/dacon-LG/data

/content/drive/MyDrive/dacon-LG/data

In [2]:
ls

AutoML.csv      sample_submission.csv  train_err_data.csv
catboost_info/  test_err_data.csv      train_problem_data.csv
logs.log        test_quality_data.csv  train_quality_data.csv

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn-deep')
sns.set(font_scale=2)

In [4]:
train_err = pd.read_csv('./train_err_data.csv')
train_quality = pd.read_csv('./train_quality_data.csv')
train_problem = pd.read_csv('./train_problem_data.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
train_err.head()

   user_id            time model_nm       fwver  errtype errcode
0    10000  20201101025616  model_3  05.15.2138       15       1
1    10000  20201101030309  model_3  05.15.2138       12       1
2    10000  20201101030309  model_3  05.15.2138       11       1
3    10000  20201101050514  model_3  05.15.2138       16       1
4    10000  20201101050515  model_3  05.15.2138        4       0

In [8]:
train_err.isnull().sum()

user_id     0
time        0
model_nm    0
fwver       0
errtype     0
errcode     1
dtype: int64

In [10]:
train_err.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16554663 entries, 0 to 16554662
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   time      int64
 2   model_nm  object
 3   fwver     object
 4   errtype   int64
 5   errcode   object
dtypes: int64(3), object(3)
memory usage: 757.8+ MB

In [13]:
train_err.describe()

            user_id          time       errtype
count  1.655466e+07  1.655466e+07  1.655466e+07
mean   1.758495e+04  2.020112e+13  2.128030e+01
std    4.341885e+03  8.664375e+06  9.943175e+00
min    1.000000e+04  2.020103e+13  1.000000e+00
25%    1.392500e+04  2.020111e+13  1.500000e+01
50%    1.748500e+04  2.020112e+13  2.300000e+01
75%    2.122700e+04  2.020112e+13  3.100000e+01
max    2.499900e+04  2.020120e+13  4.200000e+01

In [6]:
train_quality.head()

             time  user_id       fwver  ...  quality_10  quality_11  quality_12
0  20201129090000    10000  05.15.2138  ...           4           0           0
1  20201129090000    10000  05.15.2138  ...           4           0           0
2  20201129090000    10000  05.15.2138  ...           4           0           0
3  20201129090000    10000  05.15.2138  ...           4           0           0
4  20201129090000    10000  05.15.2138  ...           4           0           0

[5 rows x 16 columns]

In [9]:
train_quality.isnull().sum()

time               0
user_id            0
fwver          40080
quality_0     144432
quality_1          0
quality_2      40113
quality_3          0
quality_4          0
quality_5         20
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
dtype: int64

In [14]:
train_quality.describe()

               time        user_id  ...     quality_11     quality_12
count  8.286240e+05  828624.000000  ...  828624.000000  828624.000000
mean   2.020112e+13   17574.678315  ...      -0.181638       0.045878
std    8.863638e+06    4374.113554  ...       0.397767       0.302452
min    2.020103e+13   10000.000000  ...      -1.000000       0.000000
25%    2.020111e+13   13685.000000  ...       0.000000       0.000000
50%    2.020112e+13   17597.000000  ...       0.000000       0.000000
75%    2.020112e+13   21423.000000  ...       0.000000       0.000000
max    2.020113e+13   24997.000000  ...      14.000000      14.000000

[8 rows x 10 columns]

In [7]:
train_problem.head()

   user_id            time
0    19224  20201102200000
1    23664  20201116140000
2    15166  20201114130000
3    12590  20201108210000
4    15932  20201103210000